
@{
    ViewBag.Title = "Index";
}


<div id="TableContainer">
    @{
        Html.RenderAction("ProductTable");

        // Html.RenderAction("create");
    }

</div>

<div id="actionContainer" >

</div>



